<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nested Scope Demo</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <script src="script2.js"></script>
</head>
<body ng-app="myApp">
<div>
  <h3>Nested controller with model varibles defined inside objects</h3>
    (typing on an input filed, with a data binding to the model, acts on a specific object without overriding varibles)
  <div ng-controller="firstControllerObj">
    <h3>First controller</h3>
    <strong>First name:</strong> {{firstModelObj.firstName}}<br/>
    <br/>
    <label>Set the first name: <input type="text" ng-model="firstModelObj.firstName"/></label>
    <br/>
    <br/>

    <div ng-controller="secondControllerObj">
      <h3>Second controller (inside First)</h3>
      <strong>First name (from First):</strong> {{firstModelObj.firstName}} <br/>
      <strong>Last name (from Second):</strong> {{secondModelObj.lastName}} <br/>
      <strong>Full name:</strong> {{getFullName()}} <br/>
      <br/>
      <label>Set the first name: <input type="text" ng-model="firstModelObj.firstName"/></label>
      <br/>
      <label>Set the last name: <input type="text" ng-model="secondModelObj.lastName"/></label><br/>
      <br/>

      <div ng-controller="thirdControllerObj">
        <h3>Third controller (inside Second and First)</h3>
        <strong>First name (from First):</strong> {{firstModelObj.firstName}}<br/>
        <strong>Middle name (from Third):</strong> {{thirdModelObj.middleName}}<br/>
        <strong>Last name (from Second):</strong> {{secondModelObj.lastName}}<br/>
        <strong>Last name (from third):</strong>  {{thirdModelObj.lastName}}<br/>
        <strong>Full name (redefined in Third):</strong> {{getFullName()}}<br/>
        <br/>
        <label>Set the first name: <input type="text" ng-model="firstModelObj.firstName"/></label><br/>
        <label>Set the middle name: <input type="text" ng-model="thirdModelObj.thirdName"/></label><br/>
        <label>Ste the last name: <input type="text" ng-model="thirdModelObj.lastName"/></label>
      </div>
    </div>
  </div>
</div>

</body>
</html>