<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nested Scope Demo</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <script src="script.js"></script>
</head>
<body ng-app="myApp">
<div>
  <h3>Nested controllers with model varibles defined directly on the scopes</h3>
  (typing on an input filed, with a data binding to the model. overrides the same varible of a parent scope)
</div>
<div ng-controller="firstControllerScope">
  <h3>First controller</h3>
  <strong>First name:</strong> {{firstName}} <br/>
  <br/>
  <label>Set the first name: <input type="text ng-model=firstName"/></label><br/>
  <br/>

  <div ng-controller="secondControllerScope">
    <h3>Second controller (inside First)</h3>
    <strong>First name (from First)</strong> {{firstName}}<br/>
    <strong>Last name ( new varible):</strong> {{lastName}}<br/>
    <strong>Full name:</strong> {{getFullName()}}<br/>
    <br/>
    <label>Set the first name: <input type="text" ng-model="firstname"/></label><br/>
    <label>Set the last name: <input type="text" ng-model="lastname"/></label><br/>
    <br/>
    <div ng-controller="thirdControllerScope">
      <h3>Third controller (inside Second and First)</h3>
      <strong>First name (from First):</strong> {{firstname}}<br/>
      <strong>Middle name (new varible):</strong> {{middleName}}<br/>
      <strong>Last name (from Second):</strong> {{$parentlastName}}<br/>
      <strong>Last name ( redefined in Third):</strong> {{lastName}}<br/>
      <strong>Full name (redefined in Third):</strong> {{getFullName()}}<br/>
      <br/>
      <label>Ste the first name: <input type="text" ng-model="firstName"/></label><br/>
      <label>Set the middle name: <input type="text" ng-model="lastName"/></label>
    </div>
  </div>
</div>
</body>
</html>