<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinh Tien Luong</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>
<body>
<div ng-app="costApp" ng-controller="CostController">
    <b>Tinh Tien Luong:</b>
    <div> Salary: <input type="number" min="0" ng-model="slr" required ></div>
    <div> Bonus: <input type="number" min="0" ng-model="bonus" required > </div>

    <b>Total: </b>
    <span>
        {{total | currency: ' $ '}}
        </span>
    <button class="btn" ng-click="pay()">Enter</button>
    <script>
        var app= angular.module('costApp', []);
        app.controller('CostController', function ($scope){
            $scope.slr = 0;
            $scope.bonus = 0;
            $scope.total = 0;
            $scope.pay = function (){
                $scope.total = $scope.slr + (($scope.slr * $scope.bonus)/100)
            };
        });
    </script>
</div>
</body>
</html>