.btn-group-sm >.btn, .btn-sm{
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 1.0rem;
}
.btn-info{
    color: #d0eaf5;
    background-color: #6286ea;
    border-color: #ced4da;
}