<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular 2 QuickStart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link data-require="bootstrap@4.0.5" data-semver="4.0.5" rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="baithi2.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div class="container">
  <h2>Angular 2 QuickStart</h2>
  <button type="button" class="btn btn-info float-md-right" data-toggle="modal" data-target="#myModal">Current User: Test@test.com</button>
    <br><br>
  <button type="button" class="btn btn-info float-md-right" data-toggle="modal" data-target="#myModal">Add Product</button>
  <span class="clearfix"></span>
  <div class="alert alert-success alert-dismissable" ng-if="message">
    <a href="#" class="close" ng-click="clearMessage()">x</a>
    <strong>{{message}}!</strong>
  </div>
    <div class="table-reponsive" style="margin-top: 18px;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Product Name</th>
                <th>Product Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#myModalEdit" ng-click="selectUser(user)"></button>
                </td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                            data-target="#myModalDelete" ng-click="selectUser(user)"><img src="https://img.icons8.com/material-outlined/24/null/trash--v1.png"/></button>
                </td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Save User</h4>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Product Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="newUser.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Product Price</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="newUser.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" ng-click="addUser()" data-dismiss="modal">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalEdit" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit User</h4>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Product Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form=control" ng-model="clickedUser.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Product Price</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="clickedUser.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success ng-click=editUser()" data-dismiss="modal">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalDelete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete User</h4>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <strong style="color:red">Are you sure you want to delete " {{clickedUser.name}} " User?</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteUser()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>